body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f5f7;
    text-align: center;
}

.container {
    margin-top: 80px;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #0078d7;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

a:hover {
    background: #005fa3;
}

.form-box, .login-box {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, button {
    margin: 8px 0;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
